
      .logo {
          float: left;
          width: 25%;
  
      }    
:root{
    --main-color: #00acee;
    --bg-logo: #126282;
    --bg-color:white;
    --hover: rgb(94, 125, 143);
    --box-shadow: 0px 1px 25px 1px rgba(0,0,0,0.3);
    --border-radius: 4px 4px 4px 4px;
}
/* nav styling only */
nav{
    display: flex;
    justify-self: start;
    background-color:  var(--main-color);
    margin: 0px;
    padding: 0px 100% 0px 0px;
    
 }
 .b4-button-normal-logo{
    background-color: var(--bg-logo);
 }
 i{
     padding: 20px;
    color: white;
    margin: auto;
    
 }
 .container{
   box-shadow: var(--box-shadow);
   border-radius: var(--border-radius);
 }
 .sey{
   padding: 0 8px 0 0;
   margin: 0;
 }
 i:after{
    color: black;
 }
 a:hover{
    background-color: rgb(94, 125, 143);
 }
 .fa-house::before{
    content: "\f015";
 }
 *, *::after, *::before {
    box-sizing: inherit;
 }
 a{display: flex;
align-items: center;
text-decoration: none;
color: white;
font-size: 18px!important;
padding:0px 8px 0px 8px;

}
/* other */
 .container-main {
   
}
.middle-boxes-box1{
   position:relative;
   left:50%;
   bottom:40%;
   



}

/* alenabell css code */  
.left-boxes-box1{
   box-shadow: 3px;
   width: 350px;
   
   
   
 }
 .profile-pic{
   box-shadow:1px 1px 3px 3px rgb(212, 208, 208);
   border-radius: 3%;
   height: 350px;
   width: 350px;
   text-align: center;
   margin-top: 2px;
 }
 hr{ 
  display:block;
  height: 1px;
  border-top: 3px solid rgb(223, 217, 217);
  border-left:0px;
  border-right: 0px;
  border-bottom: 0px;
  width: 300px;
 }  
 
 .profile-text{
   center: 
 }
 .groups{
   border: 1px solid white;
   margin-top: 15px;
   height: 30px;
   background-color: #00acee;
   color: white;
   padding-top:10px;
   padding-left:4px;
   width:350px;
   padding-bottom: 0px;

   
 }
 .groups:hover{
   background-color: white;
   color:black;
 }
 .myphotos{
  box-shadow:3px 3px 3px lightgray;
 }
 .left-boxes-box2{
  
  width:355px;
  padding-top:2px;
  border-radius:3%;
  padding-bottom: 0px;
 }
 
 
 .profilepic{
   width:100px;
  
 }
 .left-boxes-boxes3{
  box-shadow: 3px 3px 3px lightgray;
  border-radius: 3%;
  margin-top: 3px;
 }
 img {
   width: 150px;
   height: 100px;
   margin-left:10px;
   margin-bottom: 10px;
   
 }
 .left-boxes-box4{
   border: 1px solid gray;
   border-radius:5%;
   width: 200px;
   height: 100px;
 }

 .container-left-box{
  margin-top: 40px;
  margin-left: 15%;
 }
 left container style only */
a

    button {
      border: none;
      display: inline-block;
      padding: 10px 20px;
      vertical-align: middle;
      overflow: hidden;
      text-decoration: none;
      color:white;
      background-color: var(--main-color);
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      margin: 10px;
  } 
button:hover{
   background-color: rgb(94, 125, 143);
} 