:root{
    --main-color: #00acee;
    --bg-logo: #126282;
    --bg-color:white;
    --hover: rgb(94, 125, 143);
    --box-shadow: 0px 1px 25px 1px rgba(0,0,0,0.3);
    --border-radius: 4px 4px 4px 4px;
}
/* nav styling only */
nav{
    display: flex;
    justify-self: start;
    background-color:  var(--main-color);
    margin: 0px;
    padding: 0px 100% 0px 0px;
    
 }
 .b4-button-normal-logo{
    background-color: var(--bg-logo);
 }
 i{
     padding: 20px;
    /* color: white; */
    margin: auto;
    
 }
 /* .container{
   box-shadow: var(--box-shadow);
   border-radius: var(--border-radius);
 } */
 .sey{
   padding: 0 8px 0 0;
   margin: 0;
 }
 i:after{
    color: black;
 }
 a:hover{
    background-color: rgb(94, 125, 143);
 }
 .fa-house::before{
    content: "\f015";
 }
 *, *::after, *::before {
    box-sizing: inherit;
 }
 a{display: flex;
align-items: center;
text-decoration: none;
color: white;
font-size: 18px!important;
padding:0px 8px 0px 8px;

}
/* other */
 /* .container-main {
   display: flex;
   
  
}  */
/* left container style only */
/* img{
   width: 100px;
}
.left-boxes-box1{
   border: 0px black solid;
   width: 300px;
   height: 314px;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   box-shadow: var(--box-shadow);
   border-radius: var(--border-radius);
   margin-top: 20px;

}
.container-left-box{
   float: left;
  
} */
/* ahsjgcaisc */
/* middle container only */
/* .middle-boxes-box1{
   width: 600px;
   height: 150px;
   border: 1px black solid;
box-shadow:  var(--box-shadow);
border-radius:  var(--border-radius);
border: 4px hidden #000000;
} */
/* .inside-content-post { */
   /* input{
   margin: 10px;
   padding: 10px;
   height: 20px;
   width: 550px;
   margin-top: 25px;
}
button, .like{
   height: 30px;
   margin-left: 10px;
   margin-top: 20px;
   width: 60px;
   background: var(--main-color);
   border: none;
   color: white;
   } */

   /* button {
      border: none;
      display: inline-block;
      padding: 10px 20px;
      vertical-align: middle;
      overflow: hidden;
      text-decoration: none;
      color:white;
      background-color: var(--main-color);
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      margin: 10px;
  } */
/* button:hover{
   background-color: rgb(94, 125, 143);
} */
.middle {
   margin: 30px;
}
.box2{
   box-shadow: var(--box-shadow);
}
.b2head{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: solid 1px rgb(218, 214, 214);
}

.b2inhead{
   display: flex;
   align-items: center;
}

h2{
   margin: 10px;

}
.circle{
   height: 200px;
   border-radius: 50%;
}

.btn{
background-color: var(--main-color);
}

.b2main img{
   height: 300px;
}


.box3{
   box-shadow: var(--box-shadow);

}

 .b3head{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: solid 1px rgb(218, 214, 214);
} 

.b3inhead{
   display: flex;
   align-items: center;
}

.box4{
   box-shadow: var(--box-shadow);
}
.b4head{
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: solid 1px rgb(218, 214, 214);
} 
.b4inhead{
   display: flex;
   align-items: center;
}





.b4main img{
   height: 400px;
   width: 90%;
}